@use '../App.scss' as *;

.todo {
    background-color: slateblue;
    color: white;
    border-radius: 10px;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size;

    & > .actions {
        display: flex;
        align-items: center;
        color: black;

        & > *{
            font-size: calc($font-size - 1rem);
        }

        input {
            background: black;
            width: 20px;
            height: 20px;
        }
    }
}