$font-size: 2rem;
$small: 300px;
$medium: 600px;
$primary-color: black;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0.5rem 1rem;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.3rem;
  transition: width 1s ease;

  @media screen and (max-width: $medium) {
    width: 70%;
  }
  @media screen and (max-width: $small) {
    width: 90%;
  }
}
